{% extends "base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}确认注册邮箱{% endblock %}


{% block content %}
<h1>确认注册邮箱</h1>

{% if confirmation %}

{% user_display confirmation.email_address.user as user_display %}

    <p>{% blocktrans with confirmation.email_address.email as email %}请确认 <a href="mailto:{{ email }}">{{ email }}</a>是您的注册邮箱。{{ user_display }}.{% endblocktrans %}</p>

<form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
{% csrf_token %}
    <input class="btn btn-warning" type="submit" value="确认提交"/>
</form>

{% else %}

{% url 'account_email' as email_url %}

<p>{% blocktrans %}This e-mail confirmation link expired or is invalid. Please <a href="{{ email_url }}">issue a new e-mail confirmation request</a>.{% endblocktrans %}</p>

{% endif %}

{% endblock %}
