{% extends 'base.html' %}
{% load i18n %}
{% block slider %}
{% endblock %}
{% block main %}

<style>
    li {
        list-style-type: disc !important;
    }
</style>
<section id="form"><!--form-->
    <div class="container">
        <div class="row">
            <div class="col-sm-offset-4 col-sm-4">
                <div class="signup-form"><!--sign up form-->
                    <h2>账号登录</h2>
                    <form action="{% url 'account_login' %}" method="post">
                        {% csrf_token %}
                        {{ form.login }}
                        <strong class="text-danger">{{ form.login.errors }}</strong>
                        {{ form.password }}
                        <strong class="text-danger">{{ form.password.errors }}</strong>
                        <p><a class="button secondaryAction" href="{% url 'account_reset_password' %}">忘记密码？</a></p>
                        {% if redirect_field_value %}
                            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                        {% endif %}
                        <a href="{{ signup_url }}">注册新用户</a></p>


                        <input type="submit" class="btn btn-default" value="登录" style="background-color: #FE980F;color: #FFFFFF">


                    </form>
                </div><!--/sign up form-->
            </div>
        </div>
    </div>
</section>
{% endblock %}

