{% extends "base.html" %}
{% block slider %}{% endblock %}
{% load i18n %}
{% load account %}

{% block head_title %}密码重置{% endblock %}

{% block main %}
    <div class="row">
    <div class="col-sm-offset-1 col-sm-10">
    <h2>密码重置</h2>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}

    {% else %}
    <p>忘记密码？请输入您的注册邮箱，重置密码的链接会发送至注册邮箱。</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="btn btn-danger" type="submit" value="重置" />
    </form>
    {% endif %}

    <p>请<a href="/contacts">联系</a>我们，如果您还是无法重置密码。</p>
    </div>
    </div>

{% endblock %}
