{% extends 'base.html' %}
{% block slider %}
{% endblock %}
{% block main %}
        <style>
            li {
                list-style-type: disc !important;
            }
        </style>
        <section id="form"><!--form-->
		<div class="container">
			<div class="row">
				<div class="col-sm-offset-4 col-sm-4">
					<div class="signup-form"><!--sign up form-->
						<h2>新用户</h2>
						<form action="{% url 'account_signup' %}" method="post">
                            {% csrf_token %}
                            {{ form.email }}
                            <strong class="text-danger">{{ form.email.errors }}</strong>
                            {{ form.password1 }}
                            <strong class="text-danger">{{ form.password1.errors }}</strong>
                            {{ form.password2 }}
                            <strong class="text-danger">{{ form.password2.errors }}</strong>
							<input type="submit" class="btn btn-default" value="注册" style="background-color: #FE980F;color: #FFFFFF">
						</form>
					</div><!--/sign up form-->
				</div>
			</div>
		</div>
	</section>
{% endblock %}