{% extends 'base.html' %}
{% block slider %}{% endblock %}
{% block main %}
    <div class="text-center">
        <h1>您好，请验证您的邮箱</h1>
        <p>我们已向您发送了一封邮件，请点击邮箱中的链接完成注册。</p>
    </div>
{% endblock %}