{% extends 'base.html' %}
{% load thumbnail %}

{% block slider %}{% endblock %}
{% block main %}

    <section id="cart_items">
        <div class="container">
            <div class="breadcrumbs">
                <ol class="breadcrumb">
                    <li><a href="/">主页</a></li>
                    <li class="active">购物车</li>
                </ol>
            </div>
            <form method="post" action="{% url 'add_order' %}">
                {% csrf_token %}
                <div class="table-responsive cart_info">
                    <table class="table table-condensed">
                        <thead>
                        <tr class="cart_menu">
                            <td class="image">商品</td>
                            <td class="description"></td>
                            <td class="price">价格</td>
                            <td class="quantity">数量</td>
                            <td class="total">合计</td>
                            <td></td>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in user_items %}
                            <tr id="tr-{{ item.id }}" data-model-item="{{ item.id }}">
                                <td class="cart_product" data-model-item="{{ item.id }}">
{#                                    <img src="{{ item.product.images.all.0.image|thumbnail_url:'avatar' }}" width="{{ im.width }}" height="{{ im.height }}"/>#}
                                    <img src="{% thumbnail item.product.images.all.0.image 50x50 crop %}"/>

                                </td>
                                <td class="cart_description">
                                    <h4><a href="{% url 'product_detail' item.product.pk %}">{{ item.product.name }}</a></h4>
                                    <p>购物日期：{{ item.created_time |date:'Y-m-d H:i'}}</p>
                                </td>
                                <td class="cart_price" data-model-item="{{ item.id }}">
                                    <p>{{ item.product.price }}</p>
                                </td>
                                <td class="cart_quantity" data-model-item="{{ item.id }}">
                                    <div class="cart_quantity_button">
                                        <a class="cart_quantity_up " href="#" style="text-decoration: none" data-model-item="{{ item.id }}"> + </a>
                                        <input  class="cart_quantity_input" pattern="\d+" type="number" name="{{ item.pk }}" value="{{ item.quantity }}" autocomplete="off" min="1" step="1" size="2"  data-model-item="{{ item.id }}">
                                        <a class="cart_quantity_down" href="#" style="text-decoration: none" data-model-item="{{ item.id }}"> - </a>
                                    </div>
                                </td>
                                <td class="cart_total" data-model-item="{{ item.id }}">
                                    <p class="cart_total_price" data-model-item="{{ item.id }}">{% widthratio item.quantity 1 item.product.price  %}</p>
                                </td>
                                <td class="cart_delete" data-model-item="{{ item.id }}">
                                    <a data-id="{{ item.id }}" class="cart_quantity_delete" href="#"><i class="fa fa-times"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <a class="cart_total_price" style="margin-left: 1em">合计：</a><p id="total" style="display: inline" class="cart_total_price" style="padding-left: 1em">{{ total }}</p>
                </div>

                <section id="do_action">
                    <div class="heading">
                        <h3 style="color: #FE980F">请填写您的收件信息</h3>
                        <p>您的收件信息会被自动保存，下次提交订单，系统会自动帮你填写。</p>
                        <strong  class="text-danger">填写收件人姓名必须与身份证上姓名一致。用于国际包裹清关。</strong>
                    </div>
                    <div class="chose_area">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="form-group col-sm-12">
                                        <label>收件人姓名:</label>
                                        {{ form.receiver_name }}
                                        <strong class="text-danger">{{ form.receiver_name.errors }}</strong>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label>联系电话：</label>
                                        {{ form.phone }}
                                        <strong class="text-danger">{{ form.phone.errors }}</strong>
                                    </div>
                                    {#                                    <div class="col-sm-12 col-md-4">#}
                                    {#                                        <label>邮政编码：</label>#}
                                    {#                                        {{ form.zip }}#}
                                    {#                                        <strong class="text-danger">{{ form.zip.errors }}</strong>#}
                                    {#                                    </div>#}
                                    {#                                </div>#}
                                    {#                                <div class="row" style="margin-top: 1em">#}
                                    <div class="col-sm-12 form-group ">
                                        <label>收件地址:</label>
                                        {{ form.address }}
                                        <strong class="text-danger">{{ form.address.errors }}</strong>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="total_area">
                                    <ul>
                                        <li>购物车合计 <span>{{ total }}</span></li>
                                        <li>国际快递 <span>{{ post }}</span></li>
                                        <li>总计 <span>{{ all }}</span></li>
                                    </ul>
                                </div>
                                <button type="submit" class="btn btn-default pull-right pull-right cart">提交订单</button>
                            </div>
                        </div>
                    </div>
                </section>




            </form>
        </div>
    </section>



{% endblock %}

{% block javascript %}
    <script>
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        $(document).ready(function() {
            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    var csrftoken = getCookie('csrftoken');
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });

            $(".cart_quantity_input").focusin(function (e) {
                $(this).data('val', $(this).val());
            });

            $(".cart_quantity_input").change(function(e) {
                e.preventDefault();
                var prev = parseInt($(this).data('val'));
                $(this).val(parseInt($(this).val()));
                var id = $(this).attr("data-model-item");
                var priceInput = $('.cart_total_price[data-model-item="'+id+'"]');
                var totalText = $("#total");
                var oldPrice = parseFloat(priceInput.text());
                var singlePrice = oldPrice/prev;
                var oldTotal = parseFloat(totalText.text());
                priceInput.text($(this).val()*singlePrice);
                totalText.text(oldTotal - oldPrice + parseFloat(priceInput.text()));
            });

            $(".cart_quantity_up").click(function(e) {
                e.preventDefault();
                var id = $(this).attr("data-model-item");
                var quantityInput = $(this).next("input");
                var priceInput = $('.cart_total_price[data-model-item="'+id+'"]');
                var totalText = $("#total");
                var oldQuantity = parseInt(quantityInput.val());
                var oldPrice = parseFloat(priceInput.text());
                var singlePrice = oldPrice/oldQuantity;
                var oldTotal = parseFloat(totalText.text());
                quantityInput.val(oldQuantity + 1);
                priceInput.text(oldPrice/oldQuantity * (oldQuantity + 1));
                totalText.text(oldTotal - oldPrice + oldPrice/oldQuantity * (oldQuantity + 1));
            });

            $(".cart_quantity_down").click(function(e) {
                e.preventDefault();
                var id = $(this).attr("data-model-item");
                var quantityInput = $(this).prev("input");
                var priceInput = $('.cart_total_price[data-model-item="'+id+'"]');
                var totalText = $("#total");
                var oldQuantity = parseInt(quantityInput.val());
                var oldPrice = parseFloat(priceInput.text());
                var oldTotal = parseFloat(totalText.text());
                if(oldQuantity >=2) {
                    quantityInput.val(oldQuantity - 1);
                    priceInput.text(oldPrice/oldQuantity * (oldQuantity - 1));
                    totalText.text(oldTotal - oldPrice + oldPrice/oldQuantity * (oldQuantity - 1));
                }
            });

            $(".cart_quantity_delete").click(function(e) {
                e.preventDefault();
                var id = $(this).attr("data-id");
                var quantityInput = $(this).prev("input");
                var priceInput = $('.cart_total_price[data-model-item="'+id+'"]');
                swal({
                        title: "确定从购物车删除?",
                        text: "此操作不可逆转。",
                        type: "warning",
                        showCancelButton: true,
                        confirmButtonColor: "#DD6B55",
                        confirmButtonText: "是的，请删除",
                        cancelButtonText: "等等, 我再想想",
                        closeOnConfirm: false
                    },
                    function(){
                        $.post('{% url 'delete_user_cart' %}',
                            {
                                csrfmiddlewaretoken: '{{ csrf_token }}',
                                item_id: id
                            }).success(function() {
                            $("#tr-" + id).remove();
                            swal("操作成功", "您已成功删除该订单商品。", "success");
                            var total = $("#total");
                            total.text((Math.round(parseFloat(total.text()) - parseFloat(priceInput.text()), 2)))
                        });
                    });
            });
        });
    </script>
{% endblock %}