{% extends 'base.html' %}

{% block sidebar %}
{% endblock %}
{% block main %}
    <style>
        li {
            list-style-type: disc !important;
        }
    </style>
    <section id="form"><!--form-->
		<div class="container">
			<div class="row">
				<div class="col-sm-offset-4 col-sm-4">
					<div class="signup-form"><!--sign up form-->
						<h2>New User Signup!</h2>
						<form action="{% url 'registration' %}" method="post">
                            {% csrf_token %}
                            {{ form.email }}
                            <strong class="text-danger">{{ form.email.errors }}</strong>
                            {{ form.password }}
                            <strong class="text-danger">{{ form.password.errors }}</strong>
                            {{ form.password_confirm }}
                            <strong class="text-danger">{{ form.password_confirm.errors }}</strong>
							<input type="submit" class="btn btn-default" value="Signup">
						</form>
					</div><!--/sign up form-->
				</div>
			</div>
		</div>
	</section><!--/form-->
{% endblock %}