{% extends 'base.html' %}
{% load static %}
{% block main %}
<div class="features_items"><!--features_items-->
    <div class="col-sm-12 col-md-offset-2 col-md-8">
        <div class="product-image-wrapper">
            <div class="single-products">
                <div class="productinfo text-center">
                    <img src="{% static 'global/images/contact/shanshan.jpg' %}" alt="" />
                </div>
            </div>
        </div>
    </div>
</div><!--features_items-->
{% endblock %}