{% extends 'base.html' %}
{% block slider %}{% endblock %}
{% block main %}
    <style>
        .Submitted {
            color: #eea236;
        }

        .Charged {
            color: #3b88c3;
        }

        .Delivered {
            color: crimson;
        }

        .Done {
            color: #4cae4c;
        }
    </style>
    <section id="cart_items">
        <div class="container">
            <div class="breadcrumbs">
                <ol class="breadcrumb">
                    <li><a href="/">主页</a></li>
                    <li class="active">我的订单</li>
                </ol>
            </div>
            <form method="post" action="{% url 'add_order' %}">
                {% csrf_token %}
                <strong class="text-danger">注意：您的订单已经提交，请尽快联系客服进行支付。48小时内若未完成支付，订单将被自动取消。</strong>

                <div class="table-responsive cart_info">

                    <table class="table table-condensed">
                        <thead>
                        <tr class="cart_menu">
                            <td>订单号</td>
                            <td class="description">订单日期</td>
                            <td class="price">订单商品</td>
                            <td class="price">商品价格</td>
                            <td class="price">快递价格</td>
                            <td class="price">合计</td>
                            <td class="quantity">订单状态</td>
                        </tr>
                        </thead>
                        <tbody>
                        {% for order in orders %}
                            <tr>
                                <td >
                                    {{ order.order_number }}
                                </td>
                                <td class="cart_description">
                                    {{ order.created_date |date:'Y-m-d'}}
                                </td>
                                <td class="cart_price">
                                    {% for item in order.order_items.all %}
                                        <p>{{ item.product.name }} X{{ item.quantity }} </p>
                                    {% endfor %}
                                </td>
                                <td class="cart_price">
                                    {{ order.cost }}
                                </td>
                                <td class="cart_price">
                                    {{ order.post }}
                                </td>
                                <td class="cart_price">
                                    {{ order.total }}
                                </td>
                                <td class="{{ order.status }}">
                                    {% ifequal order.status 'Submitted' %}
                                    {{ order.status_verbose }}<br>
                                        <a href="/contact-us" class="Submitted text-centre">请支付</a>
                                    {% endifequal %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </form>
        </div>
    </section>
{% endblock %}