{% load static %}
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="珊珊澳洲代购为您提供最优质的澳洲产品！亲，你好。我长期居住在澳洲。有任何需要在澳洲代购的产品都可以告诉我。我会以最快的速度和最优惠的价格帮你买到！全部直邮到中国。谢谢!">
    <meta name="author" content="">
    <title>珊珊澳洲代购</title>
    <link href="{% static 'global/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'global/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'global/css/prettyPhoto.css' %}" rel="stylesheet">
    <link href="{% static 'global/css/price-range.css' %}" rel="stylesheet">
    <link href="{% static 'global/css/animate.css' %}" rel="stylesheet">
    <link href="{% static 'global/css/main.css' %}" rel="stylesheet">
    <link href="{% static 'global/css/responsive.css' %}" rel="stylesheet">
    <link href="{% static 'global/node_modules/owl-carousel-2/assets/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'global/node_modules/owl-carousel-2/assets/owl.theme.default.min.css' %}" rel="stylesheet">
    <link href="{% static 'global/node_modules/social-share.js/dist/css/share.min.css' %}" rel="stylesheet">
    <link href="{% static 'global/node_modules/sweetalert/dist/sweetalert.css' %}" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="{% static 'global/js/html5shiv.js' %}"></script>
    <script src="{% static 'global/js/respond.min.js' %}"></script>
    <![endif]-->
    <link type="image/x-icon" rel="shortcut icon" href="/favicon.ico">
    <link type="image/png" rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'global/images/ico/apple-icon-144x144.png' %}">
    <link type="image/png" rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static 'global/images/ico/apple-icon-114x114.png' %}">
    <link type="image/png" rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static 'global/images/ico/apple-icon-72x72.png' %}">
    <link type="image/png" rel="apple-touch-icon-precomposed" href="{% static 'global/images/ico/apple-icon-57x57.png' %}">
</head><!--/head-->

<body>
<header id="header"><!--header-->
    <div class="header_top"><!--header_top-->
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="contactinfo">
                        <ul class="nav nav-pills">
                            <li><a href="#"><i class="fa fa-weixin"></i>客服微信：shanshanmelb</a></li>
                            <li><a href="#"><i class="fa fa-envelope"></i> au.sunny.service@gmail.com</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="social-icons pull-right">
                        <div class=" menu-share-bar"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div><!--/header_top-->

    <div class="header-middle"><!--header-middle-->
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="logo pull-left">
                        <a href="index.html"><img src="{% static 'global/images/home/logo.png' %}" alt="" /></a>
                    </div>
                    <div class="btn-group pull-right">
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="shop-menu pull-right">
                        <ul class="nav navbar-nav">
                            <li><a href="{% url 'order_list' %}"><i class="fa fa-crosshairs"></i> 我的订单</a></li>
                            <li><a href="{% url 'user_cart' %}"><i class="fa fa-shopping-cart"></i> 购物车</a></li>
                            {% if user.is_authenticated %}
                                <li>
                                    <a id="logout-button" href="#"><i class="fa fa-lock"></i> 登出</a>
                                </li>
                            {% else %}
                                <li>
                                    <a href="{% url 'account_login' %}"><i class="fa fa-lock"></i> 登录</a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/header-middle-->

    <div class="header-bottom"><!--header-bottom-->
        <div class="container">
            <div class="row">
                <div class="col-sm-9">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="mainmenu pull-left">
                        <ul class="nav navbar-nav collapse navbar-collapse">
                            <li></li>
                            <li><a href="{% url 'products_list' %}">主页</a></li>
                            <li><a href="{% url 'contact_us' %}">联系</a></li>
{#                            <li><a href="{% url 'tutorial' %}">购物指南</a></li>#}
                            <li></li>

                        </ul>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="search_box pull-right">
                        <form action="{% url 'search_products' %}" method="post">
                            {% csrf_token %}
                            <div class="flexContainer">
                                <input name="search_params" type="text" class="inputField">
                                <input class="btn btn-default" style="background-color: #FE980F; color: #FFFFFF;" type="submit" value="搜索"/>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/header-bottom-->
</header><!--/header-->

{% block main %}
    <section>
        <div class="container">
            <div class="row">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </section>
{% endblock %}
<footer id="footer"><!--Footer-->
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <p class="pull-left">Copyright © 2017 Nigriv IT. All rights reserved.</p>
                <p class="pull-right">Designed by Winston@<span><a target="_blank" href="#">Nigriv IT</a></span></p>
            </div>
        </div>
    </div>
</footer><!--/Footer-->



<script src="{% static 'global/js/jquery.js' %}"></script>
<script src="{% static 'global/js/bootstrap.min.js' %}"></script>
<script src="{% static 'global/js/jquery.scrollUp.min.js' %}"></script>
<script src="{% static 'global/js/price-range.js' %}"></script>
<script src="{% static 'global/js/jquery.prettyPhoto.js' %}"></script>
<script src="{% static 'global/node_modules/owl-carousel-2/owl.carousel.min.js' %}"></script>
<script src="{% static 'global/node_modules/social-share.js/dist/js/jquery.share.min.js' %}"></script>
<script src="{% static 'global/node_modules/sweetalert/dist/sweetalert.min.js' %}"></script>
<script src="{% static 'global/js/main.js' %}"></script>
<script>
    $(document).ready(function() {
        $('.menu-share-bar').share({
            sites: ['qzone', 'qq', 'weibo','wechat']
        });
        $('#logout-button').click(function(e) {
            e.preventDefault();
            swal({
                    title: "确定登出？",
                    text: "您将登出珊珊代购网，您将不会看到购物车与订单信息。",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "是的",
                    cancelButtonText: "取消",
                    closeOnConfirm: false,
                    closeOnCancel: true
                },
                function(){
                    swal("成功登出!", "您已成功登出系统。", "success");
                    $('<form action="{% url 'account_logout' %}" method="post"><input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}" /></form>').appendTo('body').submit();
                });
        })
    });
</script>
{% block javascript %}{% endblock %}
</body>
</html>



