
<div class="features_items"><!--features_items-->
    {% for product in products %}
        <div class="col-sm-4">
            <div class="product-image-wrapper">
                <div class="single-products">
                    <div class="productinfo text-center">
                        <img src="{{ product.images.all.0.image.url }}" alt="" />
                        <h2>{{ product.price }}元</h2>
                        <p>{{ product.name }}</p>
                        <a href="{% url 'product_detail' product.pk %}" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>查看详情</a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div><!--features_items-->
