<div class="category-tab shop-details-tab"><!--category-tab-->
    <div class="col-sm-12">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#reviews" data-toggle="tab">顾客评价 ({{ comments.count }})</a></li>
        </ul>
    </div>
    <div class="tab-content">
        <div class="tab-pane fade active in" id="reviews" >
            <div class="col-sm-12">
                {% for comment in comments %}
                    <ul>
                        <li><a href=""><i class="fa fa-user"></i>{{ comment.user.username }}</a></li>
                        <li><a href=""><i class="fa fa-clock-o"></i>{{ comment.created_time|date:'H:i' }}</a></li>
                        <li><a href=""><i class="fa fa-calendar-o"></i>{{ comment.created_time|date:'Y-m-d' }}</a></li>
                        <li><a href=""><i class="fa fa-star"></i>{{ comment.stars }}</a></li>
                    </ul>

                    <p>{{ comment.content }}</p>
                {% endfor %}
                {% if user.is_authenticated %}
                <p><b>评价宝贝</b></p>
                <form id="comment-form" action="{% url 'product_comments' product.id %}" method="post">
                    {% csrf_token %}
                    {{ form.content }}
                    {{ form.content.errors }}
                    {{ form.stars }}
                    {{ form.stars.errors }}
                    <div class="row">
                        <b> 评分: </b>
                    </div>
                    <fieldset class="rating">
                        <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
                        <input type="radio" id="star4half" name="rating" value="4.5" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
                        <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
                        <input type="radio" id="star3half" name="rating" value="3.5" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
                        <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
                        <input type="radio" id="star2half" name="rating" value="2.5" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
                        <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
                        <input type="radio" id="star1half" name="rating" value="1.5" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
                        <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
                        <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
                    </fieldset>

                    <button type="submit" class="btn btn-default pull-right">
                        提交评论
                    </button>
                    <p class="message"></p>
                </form>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $("input[type='radio']").click(function () {
            $('#{{ form.stars.auto_id }}').val($(this).val());
        });
        {% if user.is_authenticated %}
        $('#{{ form.user_id.auto_id }}').val({{ user.id }});
        {% endif %}
        $('#{{ form.product_id.auto_id }}').val({{ product.id }});
    });
</script>