{% extends 'base.html' %}
{% load static %}
{% block slider %}{% endblock %}
{% block sidebar %}{% endblock %}
{% block content %}

    <style>
        .owl-carousel {
            position: relative;
        }
        .owl-prev,
        .owl-next {
            background: #FE980F !important;
            position: absolute;
            top: 50%;
            margin-top: -10px; // Half of the prev/next buttons height here in negatives to center them perfectly
        }
        .owl-prev {
            left: 0;
        }
        .owl-next {
            right: 0;
        }
        .owl-dot.active > span {
            background: #FE980F !important;
        }


        fieldset, label { margin: 0; padding: 0; }
        body{ margin: 20px; }
        h1 { font-size: 1.5em; margin: 10px; }

        /****** Style Star Rating Widget *****/

        .rating {
            border: none;
            float: left;
        }

        .rating > input { display: none; }
        .rating > label:before {
            margin: 5px;
            font-size: 1.25em;
            font-family: FontAwesome;
            display: inline-block;
            content: "\f005";
        }

        .rating > .half:before {
            content: "\f089";
            position: absolute;
        }

        .rating > label {
            color: #ddd;
            float: right;
        }

        /***** CSS Magic to Highlight Stars on Hover *****/

        .rating > input:checked ~ label, /* show gold star when clicked */
        .rating:not(:checked) > label:hover, /* hover current star */
        .rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

        .rating > input:checked + label:hover, /* hover current star when changing rating */
        .rating > input:checked ~ label:hover,
        .rating > label:hover ~ input:checked ~ label, /* lighten current selection */
        .rating > input:checked ~ label:hover ~ label { color: #FFED85;  }

    </style>
    <div class="row product-details"><!--product-details-->
        <div class="col-sm-5">
            <div class="owl-carousel owl-theme">
                {% for img in product.images.all %}
                    <div class="view-product">
                        <div class="view-product">
                            <img style="object-fit: contain;" src="{{ img.image.url }}" alt="" />
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div id="comment-box">

            </div>
        </div>
        <div class="col-sm-7">
            <div class="product-information"><!--/product-information-->
                {% ifequal product.status 'Sales' %}
                    <img src="{% static 'global/images/product-details/new.jpg'%}" class="newarrival" alt="" />
                {% endifequal %}
                <h2>{{ product.name }}</h2>
                <form id="cart-form" action="{% url 'add_to_cart' product.id %}" method="post">
                    <span>
                        <span>{{ product.price }}元</span>

                        {% csrf_token %}
                        {{ cart_form.quantity }}
                        <button type="submit" class="btn btn-fefault cart">
                            <i class="fa fa-shopping-cart"></i>
                            添加到购物车
                        </button>
                    </span>
                </form>
                <p>产品详情</p>
                <br>
                <div id="product-description">
                    {{ product.description | safe }}
                </div>
            </div><!--/product-information-->
        </div>
    </div><!--/product-details-->
{% endblock %}
{% block javascript %}
    <script>
        $(document).ready(function() {
            $(".owl-carousel").owlCarousel({
                items:1,
                loop:true,
                autoplay: true,
                autoPlaySpeed: 3000,
                autoplayHoverPause: true,
                nav:true,
                navText: ["<i class='fa fa-angle-left'>","<i class='fa fa-angle-right'>"]
            });

            // Init comment box;
            $.get('{% url 'product_comments' product.pk %}', function(html) {
                $('#comment-box').html(html);
            });

            $('#cart-form').submit(function(event) {
                event.preventDefault(); //this will prevent the default submit
                if($('#id_quantity').val() <=0) {
                    swal("添加购物车失败", "添加数量必须大于0.", "warning")
                } else {
                    $.ajax({
                        type: "POST",
                        url: "{% url 'add_to_cart' product.pk %}",
                        data: $(this).serialize(), // serializes the form's elements.
                        success: function(data)
                        {
                            if(data.status && data.status == 200) {
                                {#                                swal("{{ product.name }}", "你已成功添加至购物车", "success")#}
                                swal({
                                        title: "已成功添加至购物车",
                                        text: "现在提交订单吗？",
                                        type: "success",
                                        showCancelButton: true,
{#                                        confirmButtonColor: "#DD6B55",#}
                                        confirmButtonText: "是的，前往购物车",
                                        cancelButtonText: "等等, 我要继续购物",
                                        closeOnConfirm: false
                                    },
                                    function(){
                                        location.href = '{% url 'user_cart' %}'
                                    });
                            } else {
                                swal("添加购物车失败", "请确认已经登录系统", "warning")
                            }

                        }
                    });
                }
            });

            $("#product-description img").css("width", "100%");
            $("#product-description img").css("height", "auto");
        });

        $(function () {
            $('.share-bar').share({
                sites: ['qzone', 'qq', 'weibo','wechat']
            });
        });
    </script>
{% endblock %}







