{% extends 'base.html' %}
{% load static %}
{% block main %}

    {#    <section id="slider"><!--slider-->#}
    {#        <div class="container">#}
    {#            <div class="row">#}
    {#                <div class="col-sm-12">#}
    {#                    <div id="slider-carousel" class="carousel slide" data-ride="carousel">#}
    {#                        <ol class="carousel-indicators">#}
    {#                            <li data-target="#slider-carousel" data-slide-to="0" class="active"></li>#}
    {#                            <li data-target="#slider-carousel" data-slide-to="1"></li>#}
    {#                            <li data-target="#slider-carousel" data-slide-to="2"></li>#}
    {#                        </ol>#}
    {##}
    {#                        <div class="carousel-inner">#}
    {#                            <div class="item active">#}
    {#                                <div class="col-sm-6">#}
    {#                                    <h1><span>Hi mate，</span>Welcome！</h1>#}
    {#                                    <h2>全球顶级品质保障</h2>#}
    {#                                    <p>澳洲的质量检测是全球闻名，墨尔本更是多年被评为全球最宜居城市。这样的环境使得澳洲本地食品从土壤和空气里就已经是其他国家无法相比的了，食品安全的确做的非常好。Product in Australia就意味着品质的保证。 </p>#}
    {#                                    <button type="button" class="btn btn-default get">Get it now</button>#}
    {#                                </div>#}
    {#                                <div class="col-sm-6">#}
    {#                                    <img src="{% static 'global/images/home/girl1.jpg' %}" class="girl img-responsive" alt="" />#}
    {#                                </div>#}
    {#                            </div>#}
    {#                            <div class="item">#}
    {#                                <div class="col-sm-6">#}
    {#                                    <h1><span>国际直邮</span> 澳洲产品</h1>#}
    {#                                    <h2>100% 源自澳大利亚</h2>#}
    {#                                    <p>澳大利亚具有优越的自然环境，是世界上空气污染最少的地区之一，而且澳洲还有着近乎苛刻的药检标准及保健品管理制度，故其出产的健康食品早己享誉全球。澳大利亚保健品原料选择极其严格，使用理代化检验方法检测原料的含量和毒性（农药残留、重金属、致病菌等），原料多为纯天然、无污染、活性含量充足</p>#}
    {#                                    <button type="button" class="btn btn-default get">Get it now</button>#}
    {#                                </div>#}
    {#                                <div class="col-sm-6">#}
    {#                                    <img src="{% static 'global/images/home/girl2.jpg' %}" class="girl img-responsive" alt="" />#}
    {#                                </div>#}
    {#                            </div>#}
    {##}
    {#                            <div class="item">#}
    {#                                <div class="col-sm-6">#}
    {#                                    <h1><span>WELCOME</span> TO MELBOURNE</h1>#}
    {#                                    <h2>Best Product & Competitive Rate </h2>#}
    {#                                    <p>亲，你好。我长期居住在澳洲。有任何需要在澳洲代购的产品都可以告诉我。我会以最快的速度和最优惠的价格帮你买到！全部直邮到中国。谢谢!</p>#}
    {#                                    <button type="button" class="btn btn-default get">Get it now</button>#}
    {#                                </div>#}
    {#                                <div class="col-sm-6">#}
    {#                                    <img src="{% static 'global/images/home/girl3.jpg' %}" class="girl img-responsive" alt="" />#}
    {#                                </div>#}
    {#                            </div>#}
    {##}
    {#                        </div>#}
    {##}
    {#                        <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">#}
    {#                            <i class="fa fa-angle-left"></i>#}
    {#                        </a>#}
    {#                        <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">#}
    {#                            <i class="fa fa-angle-right"></i>#}
    {#                        </a>#}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#    </section><!--/slider-->#}


    <section>
        <div class="container">
            <div class="row">
                {% block sidebar %}
                    <div class="col-sm-3">
                        <div class="left-sidebar">
                            <h2>商品分类</h2>
                            <div class="panel-group category-products" id="accordian"><!--category-productsr-->
                                {% for category in categories %}
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a href="{% url 'products_list' %}?category={{ category.pk }}">
                                                    {{ category.name }}
                                                </a>
                                            </h4>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div><!--/category-products-->

                            <div class="brands_products"><!--brands_products-->
                                <h2>澳洲品牌</h2>
                                <div class="brands-name">
                                    <ul class="nav nav-pills nav-stacked">
                                        {% for brand in brands %}
                                            <li><a href="{% url 'products_list' %}?brand={{ brand.pk }}">{{ brand.name }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div><!--/brands_products-->


                            {#						<div class="shipping text-center"><!--shipping-->#}
                            {#							<img src="{% static 'images/home/shipping.jpg' %}" alt="" />#}
                            {#						</div><!--/shipping-->#}

                        </div>
                    </div>
                {% endblock %}

                {% if not search_result %}
                    {% block content %}
                        {% if discounts %}
                            <div class="col-sm-9 padding-right"><h2 class="title text-center">折扣商品</h2></div>
                            <div class="col-sm-9 padding-right">
                                {% include 'products/_product_list.html' with products=discounts %}
                            </div>

                            <div class="col-sm-offset-3 col-sm-9 padding-right"><h2 class="title text-center">所有商品</h2></div>
                            <div class="col-sm-offset-3 col-sm-9 padding-right">
                                {% include 'products/_product_list.html' with products=products %}
                            </div>
                            {% if page_obj.has_previous %}
                                <h4 class="pull-left"><a  style="color: #FE980F" href="?page={{ page_obj.previous_page_number}}"><上一页</a></h4>
                            {% endif %}

                            {% if page_obj.has_next %}
                                <h4 class="pull-right"><a   style="color: #FE980F"href="?&page={{ page_obj.next_page_number }}">下一页 ></a></h4>
                            {% endif %}

                        {% else %}
                            <div class="col-sm-9 padding-right"><h2 class="title text-center">所有商品</h2></div>
                            <div class="col-sm-9 padding-right">
                                {% include 'products/_product_list.html' with products=products %}
                            </div>
                            {% if page_obj.has_previous %}
                                <h4 class="pull-left"><a  style="color: #FE980F" href="?page={{ page_obj.previous_page_number}}"><上一页</a></h4>
                            {% endif %}

                            {% if page_obj.has_next %}
                                <h4 class="pull-right"><a   style="color: #FE980F"href="?&page={{ page_obj.next_page_number }}">下一页 ></a></h4>
                            {% endif %}
                        {% endif %}

                    {% endblock %}
                {% else %}
                    <div id="result-section" class="col-sm-9 padding-right"><h2 class="title text-center">搜索结果</h2></div>
                    <div class="col-sm-9 padding-right">
                        {% include 'products/_product_list.html' with products=products %}
                    </div>
                    {% if page_obj.has_previous %}
                        <h4 class="pull-left"><a  style="color: #FE980F" href="?page={{ page_obj.previous_page_number}}"><上一页</a></h4>
                    {% endif %}

                    {% if page_obj.has_next %}
                        <h4 class="pull-right"><a   style="color: #FE980F"href="?&page={{ page_obj.next_page_number }}">下一页 ></a></h4>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </section>

{% endblock %}

{% block javascript %}
    <script>
        {% if search_result %}
            $(document).ready(function() {
                $('html, body').animate({
                    scrollTop: $("#result-section").offset().top
                }, 1000);
            });
        {% endif %}
    </script>
{% endblock %}